.nft-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 371px;
  width: 100%;
  height: 487px;
  flex-direction: column;
}
.nft-box > img {
  width: 100%;
  object-fit: cover;
  height: 326px;
}
.bottom-nft-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px 15px;
  gap: 15px;
  color: white;
  background-color: var(--green);
}
.bottom-nft-box > h2 {
  font-weight: 400;
  font-size: 14px;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.stat > img {
  width: 26.44px;
  height: 26.44px;
}
.stat p {
  font-weight: 400;
  font-size: 14px;
}
.health-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.bar {
  width: 100%;
  background-color: white;
  border-radius: 100vh;
  height: 17px;
  overflow: hidden;
}
.fill {
  background: #ffb623;
  height: 100%;
}
.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar h3 {
  font-weight: 400;
  font-size: 12px;
}
