.bracket-page {
  position: relative;
  overflow-x: hidden;
}
.bracket-circle1,
.bracket-circle2,
.bracket-circle3 {
  border-radius: 50%;
  background-color: var(--green);
  width: 284px;
  height: 284px;
  position: absolute;
  z-index: -1;
}
.bracket-circle1,
.bracket-circle2 {
  left: 0;
  transform: translateX(-50%);
}
.bracket-circle1 {
  top: 20%;
}
.bracket-circle2 {
  bottom: 10%;
}
.bracket-circle3 {
  right: -5%;
  bottom: 10%;
}
.bracket-div {
  display: grid;
  grid-template-columns: auto 200px auto;
  min-height: calc(100vh - 120px);
  padding-top: 20px;
  padding-bottom: 40px;
  min-width: 2470px;
  position: relative;
  overflow-x: hidden;
}
.bracket-wrapper {
  overflow-x: auto;
  max-width: 1650px;
  width: 100%;
}
.rotated-bracket {
  transform: rotateZ(180deg);
}
.center-bracket {
  width: 200px;
  height: 50px;
  background-color: var(--yellow);
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.center-bracket::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #707070;
  width: calc(100% + 80px);
  height: 1px;
}
.bracket-heading {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transform: translateX(-50%);
  color: white;
}
.bracket-heading h2 {
  font-size: 20px;
  font-weight: 400;
}
.bracket-heading p {
  font-weight: 300;
  font-size: 23px;
}
