.bracket-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1650px;
  min-height: calc(100vh - 120px);
  padding-top: 20px;
  padding-bottom: 40px;
  overflow-x: auto;
}
